TOPIC: String Based Assignment Problem

 # welcome to the solution file of the second assignment of the pw skills

# Lets firstly start by solving string based questions

1. Write a program to reverse a string.

In [1]:
# solution for reversing string operation 

# the varibale which takes the string as input
str1=input("Enter the string which you want to reverse: ")
# reversing it using the slicing 
str1=str1[::-1]
print(str1)

Enter the string which you want to reverse:  arvind

dnivra

2. Check if a string is a palindrome.

In [1]:
# checking the string is palindrome or not 
# using the same variable as above to take the string as input

str1=input("Enter the string which you want to check: ")
if str1[::-1]==str1:
    print("Its a palindrome")
else:
    print("its not a palindrome")

Enter the string which you want to check:  pop

Its a palindrome

3. Convert a string to uppercase.

In [2]:
# converting string to uppercase, using the variable and same value as above
print(str1.upper())

POP

4. Convert a string to lowercase.

In [4]:
# taking the new uppercase string to convert in lowercase 
str2=input("Enter the string: ")
print(str2.lower())

Enter the string:  ARVIND

arvind

5. Count the number of vowels in a string.

In [7]:
# taking the same variable as above to take the input string
str2=input("Enter the string: ")

# variable to verify the vowels
vowels='aeiouAEIOU'

vowel_count=0
for i in str2:
    if i in vowels:
        vowel_count=vowel_count+1
        
print("THe totoal number of vowels in ur given string is ",vowel_count)

Enter the string:  aeiou

THe totoal number of vowels in ur given string is  5

6. Count the number of consonants in a string.

In [14]:
# using the same approch as above , to count the number of constants available in the string 
str2=input("Enter the string: ")



# variable to verify the constants
not_const='aeiouAEIOU'

const_count=0
for i in str2:
    if i not in not_const:
        const_count=const_count+1
        
print("Total number of constants are: ", const_count)

Enter the string:  soundarya

Total number of constants are:  5

7. Remove all whitespaces from a string.

In [1]:
# using the same approch as above to take the string
str2=input("Enter the string: ")

no_whitespace_string = str2.replace(" ", "")
print(no_whitespace_string)

Enter the string:  arvind karanje

arvindkaranje

8. Find the length of a string without using the `len()` function.

In [3]:
# taking input of string
str2=input("Enter the string: ")

count=0
for i in str2:
    count=count+1
    
print("Length of the string is: ",count)

Enter the string:  arvind

Length of the string is:  6

9. Check if a string contains a specific word.

In [4]:
# lets creat a string
st="This is the example of the string to check the word"

# lets take the word as input to check whether its available in the original string
sub=input("Enter the sub string: ")

if sub in st:
    print("This word is available in the string")
else:
    print("This word is not available")

Enter the sub string:  check

This word is available in the string

10. Replace a word in a string with another word.

In [7]:
# this is the original string we have
st="This is the example of the string"

# lets replace the string the word this as that
st=st.replace("This","That")
print(st)

That is the example of the string

11. Count the occurrences of a word in a string.

In [8]:
# string variable
sentence = "This is a sample sentence. This sentence is for demonstration purposes."

# Count the occurrences of the word "sentence"
word_to_count = "sentence"
occurrences = sentence.count(word_to_count)

print(f'The word "{word_to_count}" appears {occurrences} times in the string.')

The word "sentence" appears 2 times in the string.

12. Find the first occurrence of a word in a string.

In [9]:
sentence = "This is a sample sentence. This sentence is for demonstration purposes."

# Find the first occurrence of the word "sentence"
word_to_find = "sentence"
first_occurrence_index = sentence.find(word_to_find)

if first_occurrence_index != -1:
    print(f'The word "{word_to_find}" first appears at index {first_occurrence_index}.')
else:
    print(f'The word "{word_to_find}" is not found in the string.')

The word "sentence" first appears at index 17.

13. Find the last occurrence of a word in a string.

In [2]:
sentence = "This is a sample sentence. This sentence is for demonstration purposes."

# Find the last occurrence of the word "sentence"
word_to_find = "sentence"
last_occurrence_index = sentence.rfind(word_to_find)

if last_occurrence_index != -1:
    print(f'The word "{word_to_find}" last appears at index {last_occurrence_index}.')
else:
    print(f'The word "{word_to_find}" is not found in the string.')

The word "sentence" last appears at index 32.

14. Split a string into a list of words.

In [3]:
# getting the string as the input first
st=input("Enter the string: ")

lst=st.split()

# converted the string variable st and stored it into list using the split function
print(lst)

Enter the string:  arvind karanje is great

['arvind', 'karanje', 'is', 'great']

15. Join a list of words into a string.

In [7]:
# using the same list which is being coverted above
# now the lst list will joined as the string again 
st2=" ".join(lst)
print(st2)

arvind karanje is great

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [8]:
# taking the string here
ex_str="This is the string in which words are suprated by spaces but later it will converted with underscores"

mod_st=ex_str.replace(" ","_")
print(mod_st)

This_is_the_string_in_which_words_are_suprated_by_spaces_but_later_it_will_converted_with_underscores

17. Check if a string starts with a specific word or phrase.

In [1]:
# here is the function which check the farse or specific word ,we are using the inbuilt function of 
# string to check it
def starts_with_specific_word(phrase, word):
    # Check if the phrase starts with the specified word
    if phrase.startswith(word):
        return True
    else:
        return False

# Example usage
input_phrase = "Hello, world! How are you today?"
specific_word = "Hello"

if starts_with_specific_word(input_phrase, specific_word):
    print(f'The phrase starts with "{specific_word}".')
else:
    print(f'The phrase does not start with "{specific_word}".')

The phrase starts with "Hello".

18. Check if a string ends with a specific word or phrase.

In [4]:
# this time we are using the inbuilt function endswith to check it 
def ends_with_specific_word(phrase, word):
    # Check if the phrase ends with the specified word
    if phrase.endswith(word):
        return True
    else:
        return False

# Example usage
input_phrase = "Hello, world! How are you today?"
specific_word = "Hello"

if ends_with_specific_word(input_phrase, specific_word):
    print(f'The phrase ends with "{specific_word}".')
else:
    print(f'The phrase does not ends with "{specific_word}".')

The phrase does not ends with "Hello".

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [5]:
# we can make the string to tile case using the capitalize method of string
# lets take the string from the user

st1=input("Enter the string to make it as title case: ")

st1.capitalize()

Enter the string to make it as title case:  arvind

'Arvind'

20. Find the longest word in a string.

In [15]:
# to find the longest word , firstly we need to split the string and take their words one by one

def find_longest_word(input_string):
    # Split the input string into words
    words = input_string.split()

    # Initialize variables to store the longest word and its length
    longest_word = ""
    max_length = 0

    # Iterate through the words and find the longest one
    for word in words:
        # Remove any punctuation or special characters from the word
        clean_word = ''.join(e for e in word if e.isalnum())

        # Check if the current word is longer than the previous longest word
        if len(clean_word) > max_length:
            longest_word = clean_word
            max_length = len(clean_word)

    return longest_word

# Example usage
input_string = "This is a simple example sentence with some long words."
result = find_longest_word(input_string)
print(f"The longest word is: {result}")

The longest word is: sentence

21. Find the shortest word in a string.

In [16]:
def find_shortest_word(input_string):
    # Split the input string into words
    words = input_string.split()

    # Initialize variables to store the shortest word and its length
    shortest_word = None
    min_length = float('inf')  # Set initial length to positive infinity

    # Iterate through the words and find the shortest one
    for word in words:
        # Remove any punctuation or special characters from the word
        clean_word = ''.join(e for e in word if e.isalnum())

        # Check if the current word is shorter than the previous shortest word
        if len(clean_word) < min_length:
            shortest_word = clean_word
            min_length = len(clean_word)

    return shortest_word

# Example usage
input_string = "This is a simple example sentence with some short and long words."
result = find_shortest_word(input_string)
print(f"The shortest word is: {result}")

The shortest word is: a

22. Reverse the order of words in a string.

In [20]:
# reversing the order of words in a string

st="Arvind karanje is a great batsman"
# converting it into list
lst=st.split()

# then reversing the words in the list
lst=lst[::-1]

# then converting the reversed words in the list to join as the string
st=" ".join(lst)
print(st)

batsman great a is karanje Arvind

23. Check if a string is alphanumeric.

In [21]:
def is_alphanumeric(input_string):
    # Check if the string is alphanumeric
    return input_string.isalnum()

# Example usage
test_string = "Hello123"
if is_alphanumeric(test_string):
    print(f'The string "{test_string}" is alphanumeric.')
else:
    print(f'The string "{test_string}" is not alphanumeric.')

The string "Hello123" is alphanumeric.

24. Extract all digits from a string.

In [22]:
def extract_digits(input_string):
    # Use a list comprehension to extract digits
    digits = [char for char in input_string if char.isdigit()]
    
    # Join the list of digits to form a single string
    result = ''.join(digits)
    
    return result

# Example usage
input_string = "Hello123World456"
result = extract_digits(input_string)
print(f"The extracted digits are: {result}")

The extracted digits are: 123456

25. Extract all alphabets from a string.

In [25]:
# lets take the same string
input_string = "Hello123World456"

# lets create a list and save all the alphabets in it
alphas=[char for char in input_string if char.isalpha()]
result="".join(alphas)
print(result)

HelloWorld

26. Count the number of uppercase letters in a string.

In [26]:
def count_uppercase_letters(input_string):
    # Use a loop to iterate through each character and count uppercase letters
    uppercase_count = sum(1 for char in input_string if char.isupper())
    
    return uppercase_count

# Example usage
input_string = "Hello World! This is an Example."
result = count_uppercase_letters(input_string)
print(f"The number of uppercase letters is: {result}")

The number of uppercase letters is: 4

27. Count the number of lowercase letters in a string.

In [27]:
# lets use the same string and count the lower case letters
input_string = "Hello World! This is an Example."

lower_counts=sum(1 for char in input_string if char.islower())
print(lower_counts)

21

28. Swap the case of each character in a string.

In [28]:
def swap_case(input_string):
    # Use the swapcase() method to swap the case of each character
    result = input_string.swapcase()
    
    return result

# Example usage
input_string = "Hello World! This is an Example."
result = swap_case(input_string)
print(f"The string with swapped case is: {result}")

The string with swapped case is: hELLO wORLD! tHIS IS AN eXAMPLE.

29. Remove a specific word from a string.

In [30]:
# using the same string to remove the word
input_string = "Hello World! This is an Example."

# we don't have any specific method to remove the substring, hence we can use replace method
input_string.replace('Hello','')
# hence we have removed the world hello from the above string

' World! This is an Example.'

30. Check if a string is a valid email address.

In [33]:
em=input("Enter the emailid: ")

if "@gmail.com" in em:
    print("Its a valid email")
else:
    print("Invalid email")

Enter the emailid:  arvindgkaranje@gmail.com

Its a valid email

31. Extract the username from an email address string.

In [37]:

# lets take the email
email="arvindkaranje@gmail.com"
lst=email.split('@')

# storing only the username in the list
lst=lst[0]

print("User name is: ",lst)

User name is:  arvindkaranje

32. Extract the domain name from an email address string.

In [38]:
def extract_domain(email):
    # Split the email address at the "@" symbol
    parts = email.split("@")
    
    # Check if the email address is valid
    if len(parts) == 2:
        # Return the part after "@" as the domain
        return parts[1]
    else:
        # Handle invalid email addresses
        return "Invalid email address"

# Example usage
email_address = "user@example.com"
domain = extract_domain(email_address)
print(f"The domain is: {domain}")

The domain is: example.com

33. Replace multiple spaces in a string with a single space.

In [39]:
# we need to use the re module to perform this operation 
import re

def replace_multiple_spaces(input_string):
    # Use regular expression to replace multiple spaces with a single space
    result = re.sub(r'\s+', ' ', input_string)
    
    return result.strip()  # Remove leading and trailing spaces

# Example usage
input_string = "This   is    an   example   with   multiple   spaces."
output_string = replace_multiple_spaces(input_string)
print(f"The string with multiple spaces replaced is:\n{output_string}")

The string with multiple spaces replaced is:
This is an example with multiple spaces.

34. Check if a string is a valid URL.

In [40]:
# To check if a string is a valid URL in Python, you can use the urllib.parse module, which provides the urlparse function
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

# Example usage
url_to_check = "https://www.example.com"
if is_valid_url(url_to_check):
    print(f'The URL "{url_to_check}" is valid.')
else:
    print(f'The URL "{url_to_check}" is not valid.')

The URL "https://www.example.com" is valid.

35. Extract the protocol (http or https) from a URL string.

In [ ]:
# we can do that using the split function agai
# url example is 

url="https://www.example.com"

lst=url.split(':')
print("The protocol of the url is: ",lst[0])

The protocol of the url is:  https

36. Find the frequency of each character in a string.

In [1]:
def character_frequency(input_string):
    # Initialize an empty dictionary to store character frequencies
    frequency_dict = {}

    # Iterate through each character in the string
    for char in input_string:
        # Increment the count for the character in the dictionary
        frequency_dict[char] = frequency_dict.get(char, 0) + 1

    return frequency_dict

# Example usage
input_string = "hello world"
result = character_frequency(input_string)
print(f"The frequency of each character is:\n{result}")

The frequency of each character is:
{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

37. Remove all punctuation from a string.

In [2]:
import string

def remove_punctuation(input_string):
    # Create a translation table to map punctuation to None
    translation_table = str.maketrans("", "", string.punctuation)

    # Use translate method to remove punctuation
    result = input_string.translate(translation_table)

    return result

# Example usage
input_string = "Hello, World! This is an example."
result = remove_punctuation(input_string)
print(f"The string without punctuation is:\n{result}")

The string without punctuation is:
Hello World This is an example

38. Check if a string contains only digits.

In [11]:

test_string = "12345"


# using the isdigit function to check it 
if test_string.isdigit():
    print("String contains only digits")
else:
    print("String also contains other alphas")

String contains only digits

39. Check if a string contains only alphabets.

In [15]:
# lets take the string

tst_str="arvindkaranje"



if tst_str.isalpha()==True:
    print("String contains only alpha")
else:
    print("String contains non alpha also")

String contains only alpha

40. Convert a string to a list of characters.

In [17]:
# converting a string to list of character is simple
# we can simply use the list method and can pass the parameter as string 

str1="Thsisarvindkaranje"
lst=list(str1)
print(lst)

['T', 'h', 's', 'i', 's', 'a', 'r', 'v', 'i', 'n', 'd', 'k', 'a', 'r', 'a', 'n', 'j', 'e']

41. Check if two strings are anagrams.

In [18]:
def are_anagrams(str1, str2):
    # Remove spaces and convert to lowercase for case-insensitive comparison
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Check if the sorted characters of both strings are the same
    return sorted(str1) == sorted(str2)

# Example usage
string1 = "listen"
string2 = "silent"

if are_anagrams(string1, string2):
    print(f'The strings "{string1}" and "{string2}" are anagrams.')
else:
    print(f'The strings "{string1}" and "{string2}" are not anagrams.')

The strings "listen" and "silent" are anagrams.

42. Encode a string using a Caesar cipher.

In [5]:
def caesar_cipher_encode(plaintext, shift):
    ciphertext = ""

    for char in plaintext:
        if char.isalpha():
            # Determine the case (uppercase or lowercase)
            is_upper = char.isupper()

            # Shift the character and handle wrap-around
            shifted_char = chr((ord(char) - ord('A' if is_upper else 'a') + shift) % 26 + ord('A' if is_upper else 'a'))

            ciphertext += shifted_char
        else:
            # Non-alphabetic characters remain unchanged
            ciphertext += char

    return ciphertext

# Example usage
plaintext = "Hello, World!"
shift = 3
encrypted_text = caesar_cipher_encode(plaintext, shift)
print(f'The encrypted text is: {encrypted_text}')

The encrypted text is: Khoor, Zruog!

43. Decode a Caesar cipher encoded string.

In [6]:
def caesar_cipher_decode(ciphertext, shift):
    # Use the caesar_cipher_encode function with a negative shift to decode
    return caesar_cipher_encode(ciphertext, -shift)

# Example usage
encrypted_text = "Khoor, Zruog!"
shift = 3
decrypted_text = caesar_cipher_decode(encrypted_text, shift)
print(f'The decrypted text is: {decrypted_text}')

The decrypted text is: Hello, World!

44. Find the most frequent word in a string.

In [8]:
def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    cleaned_string = input_string.lower().replace(".", "").replace(",", "")

    # Split the string into words
    words = cleaned_string.split()

    # Create a dictionary to store the frequency of each word
    word_frequency = {}

    # Iterate through the words and count their frequency
    for word in words:
        word_frequency[word] = word_frequency.get(word, 0) + 1

    # Find the word with the highest frequency
    most_frequent = max(word_frequency, key=word_frequency.get)

    return most_frequent

# Example usage
input_string = "This is an example. An example is a demonstration. This is only an example."
result = most_frequent_word(input_string)
print(f"The most frequent word is: {result}")

The most frequent word is: is

45. Find all unique words in a string.

In [16]:
# lets take the string
input_string = "This is an example. An example is a demonstration. This is only an example."

# from this string lets find the unique words


# converting all into lower letters
input_string=input_string.lower()
input_string=input_string.replace('.','')



# converting them into words

lst=input_string.split()
lst2=[]

for i in lst:
    if i not in lst2:
        lst2.append(i)
        
print("Following are the unique words")
for i in lst2:
    print(i)

Following are the unique words
this
is
an
example
a
demonstration
only

46. Count the number of syllables in a string.

In [17]:
def count_syllables(word):
    vowels = "aeiouyAEIOUY"
    count = 0
    in_vowel_sequence = False

    for char in word:
        if char in vowels:
            if not in_vowel_sequence:
                count += 1
            in_vowel_sequence = True
        else:
            in_vowel_sequence = False

    return count

def count_syllables_in_string(input_string):
    words = input_string.split()
    total_syllables = sum(count_syllables(word) for word in words)
    return total_syllables

# Example usage
input_string = "Hello, world! How are you doing?"
syllable_count = count_syllables_in_string(input_string)
print(f"The number of syllables is: {syllable_count}")

The number of syllables is: 8

47. Check if a string contains any special characters.

In [18]:
def contains_special_characters(input_string):
    # Check if any character in the string is not alphanumeric
    for char in input_string:
        if not char.isalnum():
            return True  # The string contains at least one special character

    return False  # The string contains only alphanumeric characters

# Example usage
test_string = "Hello123"
if contains_special_characters(test_string):
    print(f'The string "{test_string}" contains special characters.')
else:
    print(f'The string "{test_string}" does not contain special characters.')

The string "Hello123" does not contain special characters.

48. Remove the nth word from a string

In [19]:
def remove_nth_word(input_string, n):
    # Split the string into words
    words = input_string.split()

    # Check if the specified index is valid
    if 1 <= n <= len(words):
        # Remove the nth word
        del words[n - 1]

        # Join the words back into a string
        result = ' '.join(words)
        return result
    else:
        return "Invalid index"

# Example usage
input_string = "This is an example sentence."
index_to_remove = 3
result = remove_nth_word(input_string, index_to_remove)
print(f"The string after removing the {index_to_remove}th word is:\n{result}")

The string after removing the 3th word is:
This is example sentence.

49. Insert a word at the nth position in a string.

In [22]:
# original string
input_string = "This is an example sentence."

# inserting the word at nth position 

# lets convert it into words using split

lst=input_string.split()

# inserting at 2th position
lst.insert(2,'not')
print(lst)

# then converting it into string

input_string=' '.join(lst)
print(input_string)

['This', 'is', 'not', 'an', 'example', 'sentence.']
This is not an example sentence.

50. Convert a CSV string to a list of lists.

# 2.LIST BASED QUESTIONS

1. Create a list with integers from 1 to 10.

In [23]:
# creating the list with integer values 1 to 10
lst1=[1,2,3,4,5,6,7,8,9,10]
print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [26]:
# finding the length of the above list without using the len() function \

# using the iteration approach

count=0
for i in lst1:
    count=count+1

print("Length of the list is: ",count )

Length of the list is:  10

3. Append an element to the end of a list.

In [27]:
# Appending an element to the end of a list.
# using the append method
lst1.append(11)
print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

4. Insert an element at a specific index in a list.

In [28]:
# inserting an element at a specific index in a list.
# inserting at third position using the insert method
lst1.insert(3,44)
print(lst1)

[1, 2, 3, 44, 4, 5, 6, 7, 8, 9, 10, 11]

5. Remove an element from a list by its value.

In [30]:
# removing an element from a list by its value.

# removed 44 from the above list
lst1.remove(44)
print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

6. Remove an element from a list by its index.

In [31]:
#  removing an element from a list by its index.

# using the pop method we are removing the first element of the list
# using its index value we are removing it

lst1.pop(0)

print(lst1)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

7. Check if an element exists in a list.

In [33]:
# checking if an element exists in a list.

# lets check 3 is available in the lst1 or not

if 3 in lst1:
    print("3 is available")
else:
    print("3 is not present in the lst1")

3 is available

8. Find the index of the first occurrence of an element in a list.

In [36]:
# finding the index of the first occurrence of an element in a list.

# in this case we are checking the index of the value 9 ,when its firstly occured in the list

# using the index() method we can find out this 
print(lst1)
ind=lst1.index(9)

print("The index of the value 9 is: ",ind)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
The index of the value 9 is:  7

9. Count the occurrences of an element in a list.

In [37]:
# counting the occurrences of an element in a list.

# lets count the occurances of the element 10 in this case
# using the count method

oc=lst1.count(10)
print("occurances of the element 10 is: ",oc)

occurances of the element 10 is:  1

10. Reverse the order of elements in a list.

In [41]:
# reversing the order of elements in a list.
# printing the values of the list before reversing

print(lst1)

# printing after the reversing with slicing approach
print(lst1[::-1])

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

11. Sort a list in ascending order.

In [44]:
# sorting a list in ascending order.

# creating the new list
l1=[5,4,6,3,2,1]

# sorting the elemements with the inbuilt method
print(sorted(l1))

[1, 2, 3, 4, 5, 6]

12. Sort a list in descending order.

In [51]:
# sorting the list in descending order

l2=[1,2,3,4,5,6]

sorted(l2,reverse=True)

[6, 5, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [52]:
# creating a list of even numbers from 1 to 20.

# using the list comprehension

l3=[i for i in range(1,21) if i%2==0]
print(l3)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [53]:
# Creating a list of odd numbers from 1 to 20.

# using the same approach as above

l4=[i for i in range(1,20) if i%2!=0]
print(l4)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [54]:
# finding the sum of all elements , to the above l4 list

print(sum(l4))

100

16. Find the maximum value in a list.

In [55]:
# finding the maximum value of the above mention list

print(max(l4))

19

17. Find the minimum value in a list.

In [56]:
# finding the minimum value of the list using the min method
print(min(l4))

1

18. Create a list of squares of numbers from 1 to 10.

In [57]:
# creating the list of squares of numbers from 1 to 10

l5=[i*i for i in range(1,11) ]
print(l5)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [1]:
import random

def generate_random_numbers_list(size, start_range, end_range):
    # Generate a list of random numbers
    random_numbers = [random.randint(start_range, end_range) for _ in range(size)]
    return random_numbers

# Example usage
list_size = 5
start_range = 1
end_range = 100
random_numbers_list = generate_random_numbers_list(list_size, start_range, end_range)

print(f"A list of {list_size} random numbers between {start_range} and {end_range}: {random_numbers_list}")

A list of 5 random numbers between 1 and 100: [51, 34, 53, 19, 14]

20. Remove duplicates from a list.

In [6]:
# Removing duplicates from a list.

lst1=[1,2,3,3,4,5,5,6,7]

# creating one more list as a refernce 
lst2=[]

for i in lst1:
    if i in lst2:
        lst1.remove(i)
    else:
        lst2.append(i)
 


print(lst1)

[1, 2, 3, 4, 5, 6, 7]

 21. Find the common elements between two lists.

In [7]:
# finding the common elements between two lists a and b
a=[1,2,3,4]
b=[3,4,5,6]

# creating one more list to store all the common elements from the both list
c=[]

for i in a:
    if i in b:
        c.append(i)
        
print("Common elements of the list a and b are: ")
for j in c:
    print(j)

Common elements of the list a and b are:
3
4

22. Find the difference between two lists.

In [10]:
def find_difference_using_set(list1, list2):
    # Using set difference method
    difference_set = set(list1) - set(list2)
    return list(difference_set)

def find_difference_using_list_comprehension(list1, list2):
    # Using list comprehension
    difference_list = [item for item in list1 if item not in list2]
    return difference_list

# Example lists
list_a = [1, 2, 3, 4, 5]
list_b = [3, 4, 5, 6, 7]

# Using set difference
difference_set_method = find_difference_using_set(list_a, list_b)
print(f"Difference using set difference method: {difference_set_method}")

# Using list comprehension
difference_list_comprehension = find_difference_using_list_comprehension(list_a, list_b)
print(f"Difference using list comprehension: {difference_list_comprehension}")

Difference using set difference method: [1, 2]
Difference using list comprehension: [1, 2]

23. Merge two lists.

In [11]:
# merging the elements of two lists

m=[1,2,3,4]
n=[5,6,7,8]

# merged list is new list
merged=m+n
print(merged)

[1, 2, 3, 4, 5, 6, 7, 8]

24. Multiply all elements in a list by 2.

In [18]:
# muliplying all  elements in a list by 2

l=[2,3,4,5]

for i in range(len(l)):
    l[i]=l[i]*2
 
# printing the values of the list after multipliying them with 2
print(l)

[4, 6, 8, 10]

25. Filter out all even numbers from a list.

In [22]:
# filtering the even numbers from the list using the filter and lambda function 

lst=[1,2,3,4,5,6,7,8,9,10]

# now we are using the another list in which we are filtering only the even numbers

evens=list(filter(lambda a:a%2==0,lst))
print(evens)

[2, 4, 6, 8, 10]

26. Convert a list of strings to a list of integers.

In [24]:
lst=["1","2","3","4","5"]

# using the list comprehension to store list of integer values from string values

int_lst=[int(i) for i in lst]
print(int_lst)

[1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [25]:
# now we will use the same converted integer list and convert that into the string list

str_lst=[str(i) for i in int_lst]

print("Printing the values of the converting string list")
print(str_lst)

Printing the values of the converting string list
['1', '2', '3', '4', '5']

28. Flatten a nested list.

In [26]:
def flatten_list(nested_list):
    flattened = []
    for item in nested_list:
        if isinstance(item, list):
            flattened.extend(flatten_list(item))
        else:
            flattened.append(item)
    return flattened

# Example nested list
nested_list = [1, [2, 3, [4, 5]], 6, [7, 8]]

# Flatten the nested list
flattened_list = flatten_list(nested_list)

print(f"Original nested list: {nested_list}")
print(f"Flattened list: {flattened_list}")

Original nested list: [1, [2, 3, [4, 5]], 6, [7, 8]]
Flattened list: [1, 2, 3, 4, 5, 6, 7, 8]

29. Create a list of the first 10 Fibonacci numbers.|

In [27]:
# creating a list of the first 10 Fibonacci numbers.

# 0 1 1 2 3 5 8 13 21 34

def generate_fibonacci(n):
    fibonacci_numbers = [0, 1]

    while len(fibonacci_numbers) < n:
        next_number = fibonacci_numbers[-1] + fibonacci_numbers[-2]
        fibonacci_numbers.append(next_number)

    return fibonacci_numbers[:n]

# Generate the first 10 Fibonacci numbers
first_10_fibonacci = generate_fibonacci(10)

print(f"The first 10 Fibonacci numbers: {first_10_fibonacci}")

The first 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [29]:
l=[1,2,3,4,5]

# checing the list is sorted or not
l1=sorted(l)

if l==l1:
    print("List is sorted")
else:
    print("List elements are not sorted")

List is sorted

31. Rotate a list to the left by `n` positions.

In [30]:
def rotate_left(lst, n):
    n = n % len(lst)  # Ensure that n is within the length of the list
    rotated_list = lst[n:] + lst[:n]
    return rotated_list

# Example list
original_list = [1, 2, 3, 4, 5]

# Rotate the list to the left by 2 positions
rotated_list = rotate_left(original_list, 2)

print(f"Original list: {original_list}")
print(f"Rotated list to the left by 2 positions: {rotated_list}")

Original list: [1, 2, 3, 4, 5]
Rotated list to the left by 2 positions: [3, 4, 5, 1, 2]

32. Rotate a list to the right by `n` positions.

In [32]:
def rotate_right(lst, n):
    n = n % len(lst)  # Ensure that n is within the length of the list
    rotated_list = lst[-n:] + lst[:-n]
    return rotated_list

# Example list
original_list = [1, 2, 3, 4, 5]

# Rotate the list to the right by 2 positions
rotated_list = rotate_right(original_list, 2)

print(f"Original list: {original_list}")
print(f"Rotated list to the right by 2 positions: {rotated_list}")

Original list: [1, 2, 3, 4, 5]
Rotated list to the right by 2 positions: [4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [33]:
# creating the list of prime numbers upto 50
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True

def generate_primes_up_to(limit):
    prime_numbers = [num for num in range(2, limit) if is_prime(num)]
    return prime_numbers

# Generate a list of prime numbers up to 50
primes_up_to_50 = generate_primes_up_to(50)

print(f"Prime numbers up to 50: {primes_up_to_50}")

Prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [34]:
# Split a list into chunks of size `n`

def split_into_chunks(lst, n):
    chunked_list = [lst[i:i + n] for i in range(0, len(lst), n)]
    return chunked_list

# Example list
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Split the list into chunks of size 3
chunks_of_three = split_into_chunks(original_list, 3)

print(f"Original list: {original_list}")
print(f"List split into chunks of size 3: {chunks_of_three}")

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List split into chunks of size 3: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

35. Find the second largest number in a list.

In [36]:
# finding the second largest number in the list

# creating the list with some values

lst=[22,454,1,42,5,6,11,6676,44,77,88,33]

# firstly we are sorting the list

lst=sorted(lst)
print(lst)

# now we are checking the second laregest number with the indexing 
print("Second largest number in this list is: ",lst[-2])

[1, 5, 6, 11, 22, 33, 42, 44, 77, 88, 454, 6676]
Second largest number in this list is:  454

36. Replace every element in a list with its square.

In [2]:
# Replacing every element in a list with its square.

# creating the list
a=[2,3,4,5,6,7,8]

# replacing the values with square 
for i in range(len(a)):
    a[i]=a[i]*a[i]
    
print(a)

[4, 9, 16, 25, 36, 49, 64]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [14]:
# Converting a list to a dictionary where list elements become keys and their indices become values.

# creating the list
a=[2,3,4,5,6,7,8]



# creating the empty dictionary
dict1={}


for i in a:
    dict1[i]=a.index(i)
    
# we have converted the list of elements into dictonary keys and their indices as values     
print(dict1)

{2: 0, 3: 1, 4: 2, 5: 3, 6: 4, 7: 5, 8: 6}

38. Shuffle the elements of a list randomly.

In [15]:
# shuffling the elements of the list randomly
import random

# Example list
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Shuffle the list randomly
random.shuffle(original_list)

print(f"Original list: {original_list}")

Original list: [4, 7, 5, 2, 1, 8, 6, 3, 9, 10]

39. Create a list of the first 10 factorial numbers.

In [20]:
# Creating a list of the first 10 factorial numbers

# defining the functio , with recursion approach we are solving this problem

def fact(n):
    if n==0 or n==1:
        return 1
    return n*fact(n-1)

f=[fact(i) for i in range(10)]
print(f)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [23]:
# checking if two lists have at least on element in common

# creating two lists
a=[1,2,3,4,5]
b=[5,6,7,8,9]

# comparing 
for i in a:
    if i in b:
        print("List has the element as common" ,i)
        break
else:
    print("No elements are common in both lists")

List has the element as common 5

41. Remove all elements from a list.

In [26]:
# removing all elements from the list

# creating the new list
a=[1,2,3,4,5]

# now removing all the elements
a.clear()
print(a)

[]

42. Replace negative numbers in a list with 0.

In [35]:
# Replacing negative numbers in a list with 0.

# creating list with few nagative numbers

l=[-1,-2,3,4,5,6,-7,-8]

# list before replacing negative numbers
print(l)


for i in l:
    if i<0:
        l[l.index(i)]=0
   
# list after replacing nagative numbers
print(l)

[-1, -2, 3, 4, 5, 6, -7, -8]
[0, 0, 3, 4, 5, 6, 0, 0]

43. Convert a string into a list of words.

In [37]:
# converting a string into a list of words using the split functio of string

str1="This is arvind karanje"
lst=str1.split()

# printing the values of the list
print(lst)

['This', 'is', 'arvind', 'karanje']

44. Convert a list of words into a string.

In [39]:
# reversing the same operation 
# converting lis of words into string

# using the same list which we have converted above
print(lst)

str2=" ".join(lst)
print(str2)

['This', 'is', 'arvind', 'karanje']
This is arvind karanje

45. Create a list of the first `n` powers of 2.

In [40]:
# Creating a list of the first `n` powers of 2.
# Generate a list of the first n powers of 2
def powers_of_two(n):
    return [2**i for i in range(n)]

# Example: Get the first 5 powers of 2
n = 5
powers_list = powers_of_two(n)

print(f"The first {n} powers of 2: {powers_list}")

The first 5 powers of 2: [1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [41]:
# finding the longest string in a list of strings.
# Example list of strings
list_of_strings = ["apple", "banana", "kiwi", "strawberry", "blueberry"]

# Find the longest string
longest_string = max(list_of_strings, key=len)

print(f"The longest string in the list: {longest_string}")

The longest string in the list: strawberry

47. Find the shortest string in a list of strings.

In [43]:
# Example list of strings
list_of_strings = ["apple", "banana", "kiwi", "strawberry", "blueberry"]

# Find the shortest string
shortest_string = min(list_of_strings, key=len)

print(f"The shortest string in the list: {shortest_string}")

The shortest string in the list: kiwi

48. Create a list of the first `n` triangular number

In [42]:
# Creating a list of the first `n` triangular number
# Generate a list of the first n triangular numbers
def triangular_numbers(n):
    return [(i * (i + 1)) // 2 for i in range(1, n + 1)]

# Example: Get the first 5 triangular numbers
n = 5
triangular_numbers_list = triangular_numbers(n)

print(f"The first {n} triangular numbers: {triangular_numbers_list}")

The first 5 triangular numbers: [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [44]:

def is_subsequence(sublist, mainlist):
    # Initialize pointers for both lists
    sub_pointer, main_pointer = 0, 0

    # Iterate through the main list
    while sub_pointer < len(sublist) and main_pointer < len(mainlist):
        # Check if the current element in the main list matches the current element in the sub list
        if sublist[sub_pointer] == mainlist[main_pointer]:
            sub_pointer += 1  # Move to the next element in the sub list
        main_pointer += 1  # Move to the next element in the main list

    # If sub_pointer reaches the end of the sub list, it means all elements were found in order
    return sub_pointer == len(sublist)

# Example lists
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sub_list = [3, 5, 8]

# Check if sub_list is a subsequence of main_list
result = is_subsequence(sub_list, main_list)

print(f"Is {sub_list} a subsequence of {main_list}? {result}")

Is [3, 5, 8] a subsequence of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]? True

50. Swap two elements in a list by their indices.

In [45]:
# Swaping two elements in a list by their indices.
def swap_elements_by_indices(lst, index1, index2):
    # Check if indices are within the range of the list
    if 0 <= index1 < len(lst) and 0 <= index2 < len(lst):
        # Swap elements at the specified indices
        lst[index1], lst[index2] = lst[index2], lst[index1]

# Example list
my_list = [1, 2, 3, 4, 5]

# Swap elements at indices 1 and 3
swap_elements_by_indices(my_list, 1, 3)

print(f"List after swapping elements: {my_list}")

List after swapping elements: [1, 4, 3, 2, 5]

# TUPLE BASED PRACTICE PROBLEMS

1. Create a tuple with integers from 1 to 5.

In [1]:
# creating the tuple with integer values 1 to 5
tup1=(1,2,3,4,5)
print(tup1)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [2]:
# accessing the third element of the above tuple
print(tup1[2])
# basicaly indexing starts from 0 ,hence the third element is present at the 2nd positio of the tuple

3

3. Find the length of a tuple without using the `len()` function.

In [3]:
# finding the length of the above tuple without using the len() function 

# we are using the iterator approach to do this operation 

count=0
for i in tup1:
    count=count+1
    
print("Length of the tuple is: ",count)

Length of the tuple is:  5

4. Count the occurrences of an element in a tuple.

In [4]:
# finding the occurance of the element 
# Example tuple
my_tuple = (1, 2, 3, 2, 4, 2, 5)

# Element to count occurrences
element_to_count = 2

# Count occurrences of the element
occurrences = my_tuple.count(element_to_count)

print(f"The element {element_to_count} occurs {occurrences} times in the tuple.")

The element 2 occurs 3 times in the tuple.

5. Find the index of the first occurrence of an element in a tuple.

In [5]:
# we can simply use the index() method of tuple to find the index of a first occurance of 
# the element in the tuple

# lets try to find out the index of 2 , from above tuple

# index of first occurance of 2 is 
print(my_tuple.index(2))

1

6. Check if an element exists in a tuple.

In [6]:
# checking if an element is exists in a tuple 
# lets create a small tuple

tp=(1,2,3,4,5)

# lets try to check if 3 is available or not

if 3 in tp:
    print("3 is available")
else:
    print("its not available")

3 is available

7. Convert a tuple to a list.

In [8]:
# converting a tuple to list
# the above tuple is being converted into list now

ll=list(tp)
ll

[1, 2, 3, 4, 5]

8. Convert a list to a tuple.

In [9]:
# converting the same ll list into tuple now

tp2=tuple(ll)
tp2

(1, 2, 3, 4, 5)

9. Unpack the elements of a tuple into variables.

In [10]:
# unpacking the elements of the tuple into variables

# creating the tuple
t=(1,2,3)

# unpacking the tuple elements as variable 
v1,v2,v3=t

# now printing the values of those 3 variables
print(v1)
print(v2)
print(v3)

1
2
3

10. Create a tuple of even numbers from 1 to 10.

In [15]:
# creating the tuple of even numbers from 1 to 10

t1=(2, 4, 6, 8, 10)

print(t)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [16]:
# creating a tuple of odd numbers
t2=(1,3,5,7,9)
t2

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [17]:
# concatinating above two tuples
# t1 and t2
print(t1+t2)

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

13. Repeat a tuple three times.

In [18]:
# repeating the tuple three times
# Example tuple
my_tuple = (1, 2, 3)

# Repeat the tuple three times
repeated_tuple = my_tuple * 3

# Display the repeated tuple
print(f"Original Tuple: {my_tuple}")
print(f"Repeated Tuple: {repeated_tuple}")

Original Tuple: (1, 2, 3)
Repeated Tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [20]:
# Example tuple
my_tuple = ()

# Check if the tuple is empty
if len(my_tuple) == 0:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

15. Create a nested tuple.

In [23]:
# creating the nested tuple
nt=(1,2,(3,4))
print(nt)

(1, 2, (3, 4))

16. Access the first element of a nested tuple.

In [26]:
# Example nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), ('apple', 'banana', 'cherry'))

# Access the first element of the nested tuple
first_element = nested_tuple[0][0]

# Display the result
print(f"The first element of the nested tuple: {first_element}")

The first element of the nested tuple: 1

17. Create a tuple with a single element.

In [28]:
# creating the tuple with single element
t=(1,)
print(t)
type(t)

(1,)

tuple

18. Compare two tuples.

In [29]:
# comparing two tuples
# Example tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Compare the tuples
if tuple1 == tuple2:
    print("The tuples are equal.")
else:
    print("The tuples are not equal.")

The tuples are not equal.

19. Delete a tuple.

In [36]:
# deleting the tuple
# Example tuple
my_tuple = (1, 2, 3, 'apple', 'banana')

# Display the original tuple
print("Original Tuple:", my_tuple)

# Delete the entire tuple
del my_tuple

# Try to access the tuple after deletion (will result in an error)
# print("After Deletion:", my_tuple)  # Uncommenting this line will result in an error

Original Tuple: (1, 2, 3, 'apple', 'banana')

20. Slice a tuple

In [40]:
# slicing the my_tuple 
my_tuple = (1, 2, 3, 'apple', 'banana')

print(my_tuple[0:3])

(1, 2, 3)

21. Find the maximum value in a tuple.

In [41]:
# finding the maximum value of a tuple

t=(1,2,3)
print(max(t))

3

22. Find the minimum value in a tuple.

In [43]:
# finding the minimum value of avove tuple
min(t)

1

23. Convert a string to a tuple of characters.

In [44]:
# convertint the string to tuple of characters
# Example string
my_string = "hello"

# Convert the string to a tuple of characters
tuple_of_characters = tuple(my_string)

# Display the result
print("String:", my_string)
print("Tuple of Characters:", tuple_of_characters)

String: hello
Tuple of Characters: ('h', 'e', 'l', 'l', 'o')

24. Convert a tuple of characters to a string.

In [45]:
# Example tuple of characters
tuple_of_characters = ('h', 'e', 'l', 'l', 'o')

# Convert the tuple to a string
resulting_string = ''.join(tuple_of_characters)

# Display the result
print("Tuple of Characters:", tuple_of_characters)
print("Resulting String:", resulting_string)

Tuple of Characters: ('h', 'e', 'l', 'l', 'o')
Resulting String: hello

25. Create a tuple from multiple data types.

In [46]:
# Create a tuple with elements of different data types
mixed_tuple = (1, 'hello', 3.14, True, [5, 6])

# Display the tuple
print("Mixed Tuple:", mixed_tuple)

Mixed Tuple: (1, 'hello', 3.14, True, [5, 6])

26. Check if two tuples are identical.

In [47]:
# Example tuples
tuple1 = (1, 'apple', 3.14)
tuple2 = (1, 'apple', 3.14)

# Check if the tuples are identical
if tuple1 == tuple2:
    print("The tuples are identical.")
else:
    print("The tuples are not identical.")

The tuples are identical.

27. Sort the elements of a tuple.

In [52]:
# sorting the elements of the tuple
t=(4,3,2,1)
t=tuple(sorted(t))
t

(1, 2, 3, 4)

28. Convert a tuple of integers to a tuple of strings.

In [61]:
# converting the integer tuples into elemets of string
t=(1,2,3,4)

l=[str(i) for i in t]

# converting list to integer
t=tuple(l)
t

('1', '2', '3', '4')

29. Convert a tuple of strings to a tuple of integers.

In [62]:
# convertintg the same t tuple into tuple of string now
# printing the values before converting
print(t)

# converting into list firstly 
tt=[int(i) for i in t]
t=tuple(tt)
print(t)

('1', '2', '3', '4')
(1, 2, 3, 4)

30. Merge two tuples.

In [63]:
# Example tuples
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

# Merge the two tuples
merged_tuple = tuple1 + tuple2

# Display the result
print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Merged Tuple:", merged_tuple)

Tuple 1: (1, 2, 3)
Tuple 2: ('a', 'b', 'c')
Merged Tuple: (1, 2, 3, 'a', 'b', 'c')

31. Flatten a nested tuple.

In [64]:
# flattening a nested tuple
# Example nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), ('apple', 'banana', 'cherry'))

# Function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for element in nested_tuple:
        if isinstance(element, tuple):
            flattened.extend(flatten_tuple(element))
        else:
            flattened.append(element)
    return flattened

# Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Display the result
print("Nested Tuple:", nested_tuple)
print("Flattened Tuple:", flattened_tuple)

Nested Tuple: ((1, 2, 3), ('a', 'b', 'c'), ('apple', 'banana', 'cherry'))
Flattened Tuple: (1, 2, 3, 'a', 'b', 'c', 'apple', 'banana', 'cherry')

32. Create a tuple of the first 5 prime numbers.

In [65]:
# Create a tuple of the first 5 prime numbers
prime_numbers = (2, 3, 5, 7, 11)

# Display the result
print("Tuple of the first 5 prime numbers:", prime_numbers)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [70]:
# checking the tuple is palindrome or not
t=(1,2,1)
# this is palindrome lets check

if t[::-1]==t:
    print("its a palindrome")
else:
    print("its not a palindrome")

its a palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [72]:
# creating the tuple of squares of numbers from 1 to 5

t=(1,4,9,16,25)
print(t)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [74]:
# filtering out all even numbers from a tuple and storing the evens in another tuple
t1=(1,2,3,4,5,6,7,8,9,10)

l=[]
# here we are storing all the even numbers inside the list
for i in t1:
    if i%2==0:
        l.append(i)

# now converting the list into tuple
t2=tuple(l)

# printint the even numbers tuple t2
print(t2)

(2, 4, 6, 8, 10)
(2, 4, 6, 8, 10)

36. Multiply all elements in a tuple by 2.

In [77]:
# multiplying all elements by 2
t=(1,2,3,4)

# converting it into list firstly 
t=list(t)

for i in range(len(t)):
    t[i]=t[i]*2
    
# now converting it into tuple 
t=tuple(t)
print(t)

(2, 4, 6, 8)

In [ ]:
37. Create a tuple of random numbers.
38. Check if a tuple is sorted.
39. Rotate a tuple to the left by `n` positions.
40. Rotate a tuple to the right by `n` positions.
41. Create a tuple of the first 5 Fibonacci numbers.
42. Create a tuple from user input.
43. Swap two elements in a tuple.
44. Reverse the elements of a tuple.
45. Create a tuple of the first `n` powers of 2.

37. Create a tuple of random numbers.

In [2]:
import random

# Create a tuple of 5 random numbers
random_tuple = tuple(random.randint(1, 100) for _ in range(5))

# Display the result
print("Tuple of random numbers:", random_tuple)

Tuple of random numbers: (70, 65, 79, 100, 52)

38. Check if a tuple is sorted.

In [3]:
# Example tuple
sorted_tuple = (1, 2, 3, 4, 5)

# Check if the tuple is sorted
is_sorted = all(sorted_tuple[i] <= sorted_tuple[i+1] for i in range(len(sorted_tuple)-1))

print("Is the tuple sorted?", is_sorted)

Is the tuple sorted? True

39. Rotate a tuple to the left by `n` positions.

In [4]:
# Example tuple
original_tuple = (1, 2, 3, 4, 5)

# Rotate the tuple to the left by 2 positions
n = 2
rotated_tuple = original_tuple[n:] + original_tuple[:n]

# Display the result
print("Original Tuple:", original_tuple)
print(f"Rotated Tuple to the left by {n} positions:", rotated_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Rotated Tuple to the left by 2 positions: (3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [5]:
# Example tuple
original_tuple = (1, 2, 3, 4, 5)

# Rotate the tuple to the right by 2 positions
n = 2
rotated_tuple = original_tuple[-n:] + original_tuple[:-n]

# Display the result
print("Original Tuple:", original_tuple)
print(f"Rotated Tuple to the right by {n} positions:", rotated_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Rotated Tuple to the right by 2 positions: (4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [6]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]
    while len(fibonacci) < n:
        fibonacci.append(fibonacci[-1] + fibonacci[-2])
    return tuple(fibonacci)

# Create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Display the result
print("Tuple of the first 5 Fibonacci numbers:", fibonacci_tuple)

Tuple of the first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [7]:
# Get user input as a comma-separated string
user_input = input("Enter elements separated by commas: ")

# Convert the input string into a tuple
user_tuple = tuple(map(int, user_input.split(',')))

# Display the result
print("Tuple from user input:", user_tuple)

Enter elements separated by commas:  1

Tuple from user input: (1,)

43. Swap two elements in a tuple.

In [8]:
# Example tuple
tuple_to_swap = (1, 2, 3, 4, 5)

# Swap elements at positions 1 and 3
index1, index2 = 1, 3
swapped_tuple = list(tuple_to_swap)
swapped_tuple[index1], swapped_tuple[index2] = swapped_tuple[index2], swapped_tuple[index1]
swapped_tuple = tuple(swapped_tuple)

# Display the result
print("Original Tuple:", tuple_to_swap)
print(f"Tuple after swapping elements at positions {index1} and {index2}:", swapped_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Tuple after swapping elements at positions 1 and 3: (1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [9]:
# Example tuple
original_tuple = (1, 2, 3, 4, 5)

# Reverse the tuple
reversed_tuple = tuple(reversed(original_tuple))

# Display the result
print("Original Tuple:", original_tuple)
print("Reversed Tuple:", reversed_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [10]:
# Function to generate the first n powers of 2
def generate_powers_of_2(n):
    powers_of_2 = [2**i for i in range(n)]
    return tuple(powers_of_2)

# Create a tuple of the first 5 powers of 2
powers_of_2_tuple = generate_powers_of_2(5)

# Display the result
print("Tuple of the first 5 powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [11]:
# Example tuple of strings
string_tuple = ('apple', 'banana', 'kiwi', 'strawberry', 'blueberry')

# Find the longest string
longest_string = max(string_tuple, key=len)

# Display the result
print("Tuple of strings:", string_tuple)
print("Longest string:", longest_string)

Tuple of strings: ('apple', 'banana', 'kiwi', 'strawberry', 'blueberry')
Longest string: strawberry

47. Find the shortest string in a tuple of strings.

In [12]:
# Example tuple of strings
string_tuple = ('apple', 'banana', 'kiwi', 'strawberry', 'blueberry')

# Find the shortest string
shortest_string = min(string_tuple, key=len)

# Display the result
print("Tuple of strings:", string_tuple)
print("Shortest string:", shortest_string)

Tuple of strings: ('apple', 'banana', 'kiwi', 'strawberry', 'blueberry')
Shortest string: kiwi

48. Create a tuple of the first `n` triangular numbers.

In [13]:
# Function to generate the first n triangular numbers
def generate_triangular_numbers(n):
    triangular_numbers = [i * (i + 1) // 2 for i in range(1, n + 1)]
    return tuple(triangular_numbers)

# Create a tuple of the first 5 triangular numbers
triangular_numbers_tuple = generate_triangular_numbers(5)

# Display the result
print("Tuple of the first 5 triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [14]:
# Example tuple
main_tuple = (1, 2, (3, 4), 5, (6, 7))

# Tuple to check as subsequence
subsequence_tuple = (3, 4)

# Check if the main tuple contains the subsequence
contains_subsequence = any(subsequence_tuple == item if isinstance(item, tuple) else False for item in main_tuple)

# Display the result
print("Main Tuple:", main_tuple)
print("Subsequence Tuple:", subsequence_tuple)
print("Contains subsequence:", contains_subsequence)

Main Tuple: (1, 2, (3, 4), 5, (6, 7))
Subsequence Tuple: (3, 4)
Contains subsequence: True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [15]:
# Function to create a tuple of alternating 1s and 0s
def alternating_ones_zeros(n):
    return tuple(1 if i % 2 == 0 else 0 for i in range(n))

# Create a tuple of alternating 1s and 0s of length 8
alternating_tuple = alternating_ones_zeros(8)

# Display the result
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (1, 0, 1, 0, 1, 0, 1, 0)

# Set Based Practice Problem :

In [ ]:
1. Create a set with integers from 1 to 5.
2. Add an element to a set.

3. Remove an element from a set.

4. Check if an element exists in a set.

5. Find the length of a set without using the `len()` function.
6. Clear all elements from a set.

7. Create a set of even numbers from 1 to 10.

8. Create a set of odd numbers from 1 to 10.

9. Find the union of two sets.

10. Find the intersection of two sets.

1. Create a set with integers from 1 to 5.

In [22]:
# creating set with 5 integer values
s={1,2,3,4,5}
s

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [23]:
# adding element to set
s.add(6)
s

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [24]:
# removing an element from the set
s.remove(1)
s

{2, 3, 4, 5, 6}

4. Check if an element exists in a set.

In [26]:
# checking if is available in the set s
if 2 in s:
    print("available")
else:
    print("not available")

available

5. Find the length of a set without using the `len()` function.

# finding the lenegth of the set without len()
c=0
for i in s:
    c=c+1
    
print("length of the set is: ",c)

6. Clear all elements from a set.

In [29]:
# clearing all elements
s.clear()
s

set()

7. Create a set of even numbers from 1 to 10.

In [30]:
# creating set of even numbers from 1 to 10
s1={2,4,6,8,10}
s1

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [31]:
# creating the set of odd numbers from 1 to 10
s2={1,3,5,7,9}
s2

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [35]:
# finding the union of two sets s1 and s2
un=s1|s2
un

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

10. Find the intersection of two sets.

In [37]:
# finding the intersection of two sets s1 and s2
s1={1,2,3}
s2={3,4,5}
print(s1.intersection(s2))

{3}

11. Find the difference between two sets.

In [39]:
# Example sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the difference using the difference() method
difference_set_method = set1.difference(set2)

# Find the difference using the - (minus) operator
difference_set_operator = set1 - set2

# Display the result
print("Set 1:", set1)
print("Set 2:", set2)
print("Difference using difference():", difference_set_method)
print("Difference using - operator:", difference_set_operator)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Difference using difference(): {1, 2, 3}
Difference using - operator: {1, 2, 3}

12. Check if a set is a subset of another set.

In [40]:
# Example sets
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Display the result
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)

Set 1: {1, 2, 3}
Set 2: {1, 2, 3, 4, 5}
Is set1 a subset of set2? True

13. Check if a set is a superset of another set.

In [41]:
# Example sets
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

# Check if set1 is a superset of set2
is_superset = set1.issuperset(set2)

# Display the result
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a superset of set2?", is_superset)

Set 1: {1, 2, 3, 4, 5}
Set 2: {1, 2, 3}
Is set1 a superset of set2? True

14. Create a set from a list.

In [42]:
# Example list
my_list = [1, 2, 3, 4, 5]

# Create a set from the list
set_from_list = set(my_list)

# Display the result
print("Original List:", my_list)
print("Set from List:", set_from_list)

Original List: [1, 2, 3, 4, 5]
Set from List: {1, 2, 3, 4, 5}

15. Convert a set to a list.

In [43]:
# Example set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a list
list_from_set = list(my_set)

# Display the result
print("Original Set:", my_set)
print("List from Set:", list_from_set)

Original Set: {1, 2, 3, 4, 5}
List from Set: [1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [44]:
import random

# Example set
my_set = {1, 2, 3, 4, 5}

# Remove a random element
random_element = my_set.pop()

# Display the result
print("Original Set:", my_set)
print("Removed Random Element:", random_element)

Original Set: {2, 3, 4, 5}
Removed Random Element: 1

17. Pop an element from a set.

In [45]:
# Example set
my_set = {1, 2, 3, 4, 5}

# Pop an element
popped_element = my_set.pop()

# Display the result
print("Original Set:", my_set)
print("Popped Element:", popped_element)

Original Set: {2, 3, 4, 5}
Popped Element: 1

18. Check if two sets have no elements in common.

In [46]:
# Example sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the sets have no elements in common
no_common_elements = set1.isdisjoint(set2)

# Display the result
print("Set 1:", set1)
print("Set 2:", set2)
print("No common elements:", no_common_elements)

Set 1: {1, 2, 3}
Set 2: {4, 5, 6}
No common elements: True

19. Find the symmetric difference between two sets.

In [47]:
# Example sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the symmetric difference
symmetric_difference_set = set1.symmetric_difference(set2)

# Display the result
print("Set 1:", set1)
print("Set 2:", set2)
print("Symmetric Difference:", symmetric_difference_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Symmetric Difference: {1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [48]:
# Example sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Update set1 with elements from set2
set1.update(set2)

# Display the result
print("Updated Set 1:", set1)

Updated Set 1: {1, 2, 3, 4, 5}

In [ ]:
21. Create a set of the first 5 prime numbers.

In [50]:
# Function to generate the first n prime numbers
def generate_primes(n):
    primes = []
    num = 2
    while len(primes) < n:
        for p in primes:
            if num % p == 0:
                break
        else:
            primes.append(num)
        num += 1
    return set(primes)

# Create a set of the first 5 prime numbers
prime_numbers_set = generate_primes(5)

# Display the result
print("Set of the first 5 prime numbers:", prime_numbers_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [51]:
# Example sets
set1 = {1, 2, 3}
set2 = {3, 2, 1}

# Check if the sets are identical
are_identical = set1 == set2

# Display the result
print("Set 1:", set1)
print("Set 2:", set2)
print("Are sets identical?", are_identical)

Set 1: {1, 2, 3}
Set 2: {1, 2, 3}
Are sets identical? True

23. Create a frozen set.

In [52]:
# Example set
my_set = {1, 2, 3, 4, 5}

# Create a frozen set
frozen_set = frozenset(my_set)

# Display the result
print("Original Set:", my_set)
print("Frozen Set:", frozen_set)

Original Set: {1, 2, 3, 4, 5}
Frozen Set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [53]:
# Example sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the sets are disjoint
are_disjoint = set1.isdisjoint(set2)

# Display the result
print("Set 1:", set1)
print("Set 2:", set2)
print("Are sets disjoint?", are_disjoint)

Set 1: {1, 2, 3}
Set 2: {4, 5, 6}
Are sets disjoint? True

25. Create a set of squares of numbers from 1 to 5.

In [54]:
# Create a set of squares
squares_set = {x**2 for x in range(1, 6)}

# Display the result
print("Set of squares:", squares_set)

Set of squares: {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [55]:
# Example set
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Filter out even numbers
filtered_set = {x for x in my_set if x % 2 != 0}

# Display the result
print("Original Set:", my_set)
print("Filtered Set (odd numbers only):", filtered_set)

Original Set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Filtered Set (odd numbers only): {1, 3, 5, 7, 9}

27. Multiply all elements in a set by 2.

In [56]:
# Example set
my_set = {1, 2, 3, 4, 5}

# Multiply all elements by 2
multiplied_set = {x * 2 for x in my_set}

# Display the result
print("Original Set:", my_set)
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [57]:
import random

# Create a set of 5 random numbers between 1 and 10
random_set = {random.randint(1, 10) for _ in range(5)}

# Display the result
print("Set of random numbers:", random_set)

Set of random numbers: {1, 3, 6, 7, 9}

29. Check if a set is empty.

In [58]:
# Example set
empty_set = set()

# Check if the set is empty
is_empty = not bool(empty_set)

# Display the result
print("Is the set empty?", is_empty)

Is the set empty? True

30. Create a nested set (hint: use frozenset).

In [59]:
# Create a nested set using frozenset
nested_set = {frozenset({1, 2}), frozenset({3, 4, 5})}

# Display the result
print("Nested Set:", nested_set)

Nested Set: {frozenset({3, 4, 5}), frozenset({1, 2})}

31. Remove an element from a set using the discard method.

In [60]:
# Example set
my_set = {1, 2, 3, 4, 5}

# Remove an element using discard
element_to_remove = 3
my_set.discard(element_to_remove)

# Display the result
print("Original Set:", my_set)

Original Set: {1, 2, 4, 5}

32. Compare two sets.

In [63]:
# Example sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Compare sets
are_equal = set1 == set2
is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)

# Display the result
print("Set 1:", set1)
print("Set 2:", set2)
print("Are sets equal?", are_equal)
print("Is set 1 a subset of set 2?", is_subset)
print("Is set 1 a superset of set 2?", is_superset)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Are sets equal? False
Is set 1 a subset of set 2? False
Is set 1 a superset of set 2? False

33. Create a set from a string.

In [64]:
# Example string
my_string = "hello world"

# Create a set from the string
string_set = set(my_string)

# Display the result
print("Original String:", my_string)
print("Set from String:", string_set)

Original String: hello world
Set from String: {'d', 'l', 'e', 'o', 'w', ' ', 'r', 'h'}

34. Convert a set of strings to a set of integers.

In [65]:
# Example set of strings
string_set = {"1", "2", "3", "4", "5"}

# Convert to a set of integers
integer_set = {int(x) for x in string_set}

# Display the result
print("Set of Strings:", string_set)
print("Set of Integers:", integer_set)

Set of Strings: {'3', '5', '1', '2', '4'}
Set of Integers: {1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [66]:
# Example set of integers
integer_set = {1, 2, 3, 4, 5}

# Convert to a set of strings
string_set = {str(x) for x in integer_set}

# Display the result
print("Set of Integers:", integer_set)
print("Set of Strings:", string_set)

Set of Integers: {1, 2, 3, 4, 5}
Set of Strings: {'1', '2', '3', '5', '4'}

36. Create a set from a tuple.

In [67]:
# Example tuple
my_tuple = (1, 2, 3, 4, 5)

# Create a set from the tuple
tuple_set = set(my_tuple)

# Display the result
print("Original Tuple:", my_tuple)
print("Set from Tuple:", tuple_set)

Original Tuple: (1, 2, 3, 4, 5)
Set from Tuple: {1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [68]:
# Example set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a tuple
set_tuple = tuple(my_set)

# Display the result
print("Original Set:", my_set)
print("Tuple from Set:", set_tuple)

Original Set: {1, 2, 3, 4, 5}
Tuple from Set: (1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [69]:
# Example set
my_set = {1, 2, 3, 4, 5}

# Find the maximum value
max_value = max(my_set)

# Display the result
print("Original Set:", my_set)
print("Maximum Value:", max_value)

Original Set: {1, 2, 3, 4, 5}
Maximum Value: 5

39. Find the minimum value in a set.

In [70]:
# Example set
my_set = {1, 2, 3, 4, 5}

# Find the minimum value
min_value = min(my_set)

# Display the result
print("Original Set:", my_set)
print("Minimum Value:", min_value)

Original Set: {1, 2, 3, 4, 5}
Minimum Value: 1

40. Create a set from user input.

In [71]:
# Get user input as a comma-separated string
user_input = input("Enter elements separated by commas: ")

# Convert the input string into a set
user_set = set(map(int, user_input.split(',')))

# Display the result
print("Set from user input:", user_set)

Enter elements separated by commas:  1,2,3,3,4,4

Set from user input: {1, 2, 3, 4}

41. Check if the intersection of two sets is empty.

In [72]:
# Example sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the intersection is empty
is_empty_intersection = set1.isdisjoint(set2)

# Display the result
print("Set 1:", set1)
print("Set 2:", set2)
print("Is the intersection empty?", is_empty_intersection)

Set 1: {1, 2, 3}
Set 2: {4, 5, 6}
Is the intersection empty? True

42. Create a set of the first 5 Fibonacci numbers.

In [73]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]
    while len(fibonacci) < n:
        fibonacci.append(fibonacci[-1] + fibonacci[-2])
    return set(fibonacci)

# Create a set of the first 5 Fibonacci numbers
fibonacci_set = generate_fibonacci(5)

# Display the result
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

43. Remove duplicates from a list using sets.

In [74]:
# Example list with duplicates
my_list = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates using a set
unique_set = set(my_list)

# Display the result
print("Original List with Duplicates:", my_list)
print("List without Duplicates:", list(unique_set))

Original List with Duplicates: [1, 2, 2, 3, 4, 4, 5]
List without Duplicates: [1, 2, 3, 4, 5]

44. Check if two sets have the same elements, regardless of their count.

In [75]:
# Example sets
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

# Check if sets have the same elements, regardless of their count
are_equal_elements = set1 == set2

# Display the result
print("Set 1:", set1)
print("Set 2:", set2)
print("Do sets have the same elements (regardless of count)?", are_equal_elements)

Set 1: {1, 2, 3, 4, 5}
Set 2: {1, 2, 3, 4, 5}
Do sets have the same elements (regardless of count)? True

45. Create a set of the first `n` powers of 2.

In [76]:
# Function to generate the first n powers of 2
def generate_powers_of_2(n):
    powers_of_2 = {2**i for i in range(n)}
    return powers_of_2

# Create a set of the first 5 powers of 2
powers_of_2_set = generate_powers_of_2(5)

# Display the result
print("Set of the first 5 powers of 2:", powers_of_2_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [77]:
# Example set and list
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

# Find common elements between set and list
common_elements = my_set.intersection(my_list)

# Display the result
print("Set:", my_set)
print("List:", my_list)
print("Common elements:", common_elements)

Set: {1, 2, 3, 4, 5}
List: [3, 4, 5, 6, 7]
Common elements: {3, 4, 5}

47. Create a set of the first `n` triangular numbers.

In [78]:
# Function to generate the first n triangular numbers
def generate_triangular_numbers(n):
    triangular_numbers = {i * (i + 1) // 2 for i in range(1, n + 1)}
    return triangular_numbers

# Create a set of the first 5 triangular numbers
triangular_numbers_set = generate_triangular_numbers(5)

# Display the result
print("Set of the first 5 triangular numbers:", triangular_numbers_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [79]:
# Example sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Display the result
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set2 a subset of set1?", is_subset)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5}
Is set2 a subset of set1? True

49. Create a set of alternating 1s and 0s of length `n`.

In [80]:
# Function to create a set of alternating 1s and 0s
def alternating_ones_zeros(n):
    return {1 if i % 2 == 0 else 0 for i in range(n)}

# Create a set of alternating 1s and 0s of length 8
alternating_set = alternating_ones_zeros(8)

# Display the result
print("Set of alternating 1s and 0s:", alternating_set)

Set of alternating 1s and 0s: {0, 1}

50. Merge multiple sets into one.

In [81]:
# Example sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge sets into one
merged_set = set1.union(set2, set3)

# Display the result
print("Set 1:", set1)
print("Set 2:", set2)
print("Set 3:", set3)
print("Merged Set:", merged_set)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Set 3: {5, 6, 7}
Merged Set: {1, 2, 3, 4, 5, 6, 7}